// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ion-color-colorseti: #c54830;
  --ion-color-colorseti-rgb: 197, 72, 48;
  --ion-color-colorseti-contrast: #ffffff;
  --ion-color-colorseti-contrast-rgb: 255, 255, 255;
  --ion-color-colorseti-shade: #ad3f2a;
  --ion-color-colorseti-tint: #cb5a45;

  --ion-color-secondseti: #313131;
  --ion-color-secondseti-rgb: 49, 49, 49;
  --ion-color-secondseti-contrast: #ffffff;
  --ion-color-secondseti-contrast-rgb: 255, 255, 255;
  --ion-color-secondseti-shade: #2b2b2b;
  --ion-color-secondseti-tint: #464646;
}

.ion-color-colorseti {
  --ion-color-base: var(--ion-color-colorseti);
  --ion-color-base-rgb: var(--ion-color-colorseti-rgb);
  --ion-color-contrast: var(--ion-color-colorseti-contrast);
  --ion-color-contrast-rgb: var(--ion-color-colorseti-contrast-rgb);
  --ion-color-shade: var(--ion-color-colorseti-shade);
  --ion-color-tint: var(--ion-color-colorseti-tint);
}

.ion-color-secondseti {
  --ion-color-base: var(--ion-color-secondseti);
  --ion-color-base-rgb: var(--ion-color-secondseti-rgb);
  --ion-color-contrast: var(--ion-color-secondseti-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondseti-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondseti-shade);
  --ion-color-tint: var(--ion-color-secondseti-tint);
}
