// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ion-color-colorseti: #3880ff;
  --ion-color-colorseti-rgb: 56, 128, 255;
  --ion-color-colorseti-contrast: #ffffff;
  --ion-color-colorseti-contrast-rgb: 255, 255, 255;
  --ion-color-colorseti-shade: #3171e0;
  --ion-color-colorseti-tint: #4c8dff;

  --ion-color-secondseti: #6a0dad;
  --ion-color-secondseti-rgb: 106, 13, 173;
  --ion-color-secondseti-contrast: #ffffff;
  --ion-color-secondseti-contrast-rgb: 255, 255, 255;
  --ion-color-secondseti-shade: #5c0b97;
  --ion-color-secondseti-tint: #7d29b9;
}

.ion-color-colorseti {
  --ion-color-base: var(--ion-color-colorseti);
  --ion-color-base-rgb: var(--ion-color-colorseti-rgb);
  --ion-color-contrast: var(--ion-color-colorseti-contrast);
  --ion-color-contrast-rgb: var(--ion-color-colorseti-contrast-rgb);
  --ion-color-shade: var(--ion-color-colorseti-shade);
  --ion-color-tint: var(--ion-color-colorseti-tint);
}

.ion-color-secondseti {
  --ion-color-base: var(--ion-color-secondseti);
  --ion-color-base-rgb: var(--ion-color-secondseti-rgb);
  --ion-color-contrast: var(--ion-color-secondseti-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondseti-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondseti-shade);
  --ion-color-tint: var(--ion-color-secondseti-tint);
}
