<ion-header [translucent]="true">
  <ion-toolbar color="secondseti">
    <div class="custom-header">
      <div class="title-header">
        <div class="main-header">Tu lista de tareas</div>
        <div class="date-header">
          {{ today | date:'EEEE, d MMMM yyyy':'es' }}
        </div>
      </div>
      <div>
        <ion-icon class="icon-header" name="calendar-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="toDoList.length === 0">
      <ion-card class="ion-margin-top">
        <ion-text color="secondseti" class="greetings-home">
          <h1>¡Bienvenido!</h1>
        </ion-text>
        <ion-card-content class="ion-text-center">
          <img
            class="ion-margin-bottom"
            src="assets\hanin-abouzeid.svg"
            alt="Sin pendientes"
          />
          <ion-text color="secondseti">
            📥 No hay tareas registradas aún.</ion-text
          >
        </ion-card-content>
      </ion-card>
      <ion-button
        expand="block"
        color="secondseti"
        class="ion-margin-horizontal"
        (click)="openAddTask()"
      >
        ¿Deseas agregar una tarea?
      </ion-button>
    </div>

    <div *ngIf="toDoList.length > 0" class="custom-bg">
      <div class="glass-effect">
        <div class="home-list">
          <ion-text>
            <h1>¡Hola!, estos son tus pendientes</h1>
          </ion-text>
        </div>
        <ion-card *ngFor="let item of toDoList">
          <ion-card-header>
            <ion-card-title>
              <div class="card-title">
                <div class="task-name">{{item.title}}</div>
                <ion-text
                  [ngClass]="item.priority | priorityColor"
                  class="priority-task"
                >
                  {{item.priority}}
                </ion-text>
              </div>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon
                [name]="item.category | categoryIcon"
                [style.color]="'var(--ion-color-colorseti)'"
              >
              </ion-icon>
              {{item.category}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content> {{item.description}} </ion-card-content>
          <ion-row class="no-left-padding">
            <ion-item button (click)="editTask(item)">
              <ion-icon name="create-outline"></ion-icon>
              <span class="custom-text">Actualizar tarea</span>
            </ion-item>
            <ion-item button (click)="deleteTask(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
              <span class="custom-text">Eliminar tarea</span>
            </ion-item>
            <ion-item>
              <span class="custom-text">Completada</span>
              <ion-checkbox
                color="secondseti"
                [checked]="item.completed"
                (ionChange)="toggleCompleted(item.id)"
              >
              </ion-checkbox>
            </ion-item>
          </ion-row>
        </ion-card>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button color="secondseti" (click)="openAddTask()">
            <ion-icon name="add-outline" class="fab-icon"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </div>
</ion-content>
