.greetings-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1em;
  color: #ffffff;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-name {
  color: var(--ion-color-colorseti);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: bold;
}
.priority-task {
  font-size: 1rem;
}

ion-card-subtitle {
  display: flex;
  align-items: center;
}

ion-icon {
  margin-right: 0.2em;
  font-size: large;
}

.no-left-padding {
  padding: 0 0 0 1em;
}

.no-left-padding ion-item::part(native) {
  padding-left: 0 !important;
}

ion-card-content {
  font-size: 1rem;
  color: var(--ion-color-colorseti);
}

.custom-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  margin-right: 0.3em;
}

.fab-icon {
  margin-left: 0.3em;
  font-size: 14px;
  stroke-width: 48px;
  width: 1.8em;
  height: 1.8em;
}

.fab-select {
  padding: 1em 1em 0;
  color: var(--ion-color-colorseti-shade);
}
